<!-- Created using the template at: https://startbootstrap.com/snippets/login -->

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">

                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Create User</h5>
                        <form>
                            <div class="form-floating mb-3">

                                <input type="text" class="form-control" id="username" placeholder="New username"
                                    [(ngModel)]="newUsername" name="newUsername" />
                                <label for="username">Username</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="email" placeholder="New Password"
                                    [(ngModel)]="newEmail" name="newPassword" placeholder="Password">
                                <label for="floatingPassword">Email</label>
                            </div>
                            <div *ngIf="super" class="form-floating mb-3">
                                <select [(ngModel)]="newRole" name="newRole"
                                    class="custom-select custom-select-sm w-auto mr-1">
                                    <option disabled value="undefined">Select Role</option>
                                    <option value="user">User</option>
                                    <option value="group admin">Group Admin</option>
                                    <option value="super admin">Super Admin</option>
                                </select>
                            </div>
                            <div class="d-grid">
                                <button (click)="createClicked()"
                                    class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Create New
                                    User</button>
                            </div>
                        </form>
                        <hr class="my-4" />
                        <div *ngIf="super">
                            <form>
                                <h5 class="card-title text-center mb-5 fw-light fs-5">Remove User</h5>
                                <div *ngIf="super" class="form-floating mb-3 m-3">
                                    <select [(ngModel)]="selectedUser" name="selectedUser" class="custom-select custom-select-sm w-auto mr-1">
                                        <option disabled value="undefined">Select User to remove</option>
                                        <option *ngFor="let i of activeUsers" value="{{i}}">{{i}}</option>
                                    </select>
                                </div>
                                <div class="d-grid">
                                    <button (click)="removeClicked()"
                                        class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Remove User</button>
                                </div>
                                <hr class="my-4"/>
                            </form>
                        </div>
                        <div class="d-grid">
                            
                            <button (click)="backClicked()"
                                class="btn btn-primary btn-login text-uppercase fw-bold"
                                type="submit">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>